{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}

<div class="container text-center">
{% comment %} messages {% endcomment %}
    {% include 'partials/messages_top.html' %}

    <div class="row">
        <div class="col text-left">
            <a href="/party/travel/" class="btn btn-primary">Travel and Trade</a>
        </div>
        <h1 class="col-auto">Party History</h1>
        <div class="col text-right">
            {% if party.journey_count > 1 %}
                <form action="/party/travel/undo/" method="post">
                    {% csrf_token %}
                    <input type="submit"
                        onclick="return confirm('Are you sure?\nAll trades at the current location will be undone.')"
                        class="col-auto btn btn-warning"
                        value="Undo Last Journey">
                </form>
            {% endif %}
            {% if latest_trade %}
                <form action="/party/trade/undo/" method="post" class="m-0 col-auto">
                    {% csrf_token %}
                    <input type="submit"
                        onclick="return confirm('Are you sure you want to undo the last trade?')"
                        class="col-auto btn btn-warning"
                        value="Undo Last Trade">
                </form>
            {% endif %}
        </div>
    </div>

    {% if history %}
    <div class="row container">
        <table class="w-100">
            <tr style="border-bottom: 2px solid black;">
                <th style="border-bottom: 0px;">Location</th>
                <th>Action</th>
                <th>Resource</th>
                <th>Quantity (lbs)</th>
                <th>Gold</th>
            </tr>
            {% for t in history %}
                {% if t %}
                    {% ifchanged %}
                        <tr style='border-top: 1px solid grey;' reference='{{ t.location }}'>
                            <td colspan='100%'></td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{% ifchanged %}<b>{{ t.location }}</b>{% endifchanged %}</td>
                        <td>{% if t.gold < 0 %} Bought {% elif t.gold > 0 %} Sold {% endif %}</td>
                        <td>{% if t.resource != None %}{{ t.resource|capfirst }}{% endif %}</td>
                        <td>{{ t.quantity|floatformat:0 }}</td>
                        <td>{{ t.gold|floatformat:2 }}</td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan='100%'>This party has no history, yet.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>

{% endblock content %}
