{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col"></div>
        <h1 class="col-auto">Trade History</h1>
        <div class="col"></div>
    </div>

    {% if trade_history %}
    <div class="row container">
        <table class="w-100">
            <tr>
                <th>Location</th>
                <th>Resource</th>
                <th>Action</th>
                <th>Quantity</th>
                <th>Gold</th>
            </tr>
            {% for t in trade_history %}
            <tr>
                <td>{{ t.location.name|capfirst }}</td>
                <td>{{ t.resource.name|capfirst }}</td>
                <td>{% if t.money_spent > 0 %} Bought {% else %} Sold {% endif %}</td>
                <td>{{ t.quantity_gained|abs }}</td>
                <td>{{ t.money_spent|abs|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>

{% endblock content %}
